[submodule "git_yalco_practice"]
	path = git_yalco_practice
	url = https://github.com/mppn98/git_yalco_practice.git
[submodule "C_Lang"]
	path = C_Lang
	url = https://github.com/mppn98/C_Lang.git
[submodule "Leetcode"]
	path = Leetcode
	url = https://github.com/mppn98/Leetcode.git
[submodule "Baekjoon"]
	path = Baekjoon
	url = https://github.com/mppn98/Baekjoon.git
